/*Minimal CSS to space things out a tad*/

#buttons {
  margin-bottom: 15px;
}

#containerLeft {
  margin-top: 30px;
  padding-left: 0;
}

#containerRight {
  margin-top: 30px;
  padding-right: 0;
}

.jumbotron
{
	margin-bottom: 0;
	margin-top: 0;
	background-color: #D9EDF7;

}
